html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Radiance';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/radiance.woff');
}

@font-face {
  font-family: 'RadianceBold';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/radiance-bold.woff');
}

@font-face {
  font-family: 'RadianceSemiBold';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/radiance-semibold.woff');
}

@font-face {
  font-family: 'Reaver';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Reaver-Regular.woff');
}

@font-face {
  font-family: 'ReaverBold';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Reaver-Bold.woff');
}

@font-face {
  font-family: 'ReaverSemiBold';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Reaver-Semibold.woff');
}